<!DOCTYPE html>
<html lang="en">
    {% block content %}
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- External Files -->
        <link rel="stylesheet" href="{% static 'animalawarenessApp/css/AdminDashboard.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Galada|Indie+Flower|Lacquer|Lemonada|Lobster|Montserrat|Dancing+Script|Open+Sans+Condensed:300|Pacifico|Poppins|Quicksand|Raleway&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Akronim|Bungee+Inline|Fredericka+the+Great|Frijole|Give+You+Glory|Monoton|Reenie+Beanie|Rye&display=swap" rel="stylesheet">  
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	
    <title>Admin-Dashboard</title>

   
</head>
<body>
    <div class="container-fluid">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#"></a>
                        <span class="icon"><img src="{% static 'animalawarenessApp/images/logo1.png' %}" style="height:60px;"></span>
                        <!--<span class="title"><h2>Brand Name</h2></span>-->
                    </a>
                </li>
                <li>
                    <a href="{% url 'admindashboard' %}">
                        <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                        <span class="title dashboard"><h2>Home</h2></span>
                    </a>
                </li>
                <!-- <li>
                    <a href="{% url 'userorganisationview' %}">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true" style="font-size:25px;"></i></span>
                        <span class="title pwdmenu"><h2>Organisations</h2></span>
                    </a>
                </li> -->
                <li>
                <a href="#" id="logout" >
                    <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
                    <span class="title logout"><h2>Logout</h2></span>
                </a>
                </li> 
            </ul>
        </div>
		<div class="main">
			<div class="topbar">
				<div class="toggle" onclick="toggleMenu();"></div>
				<!--<div class="search">
					<label>
						<input type="text" placeholder="Search here"><i class="fa fa-search" aria-hidden="true"></i>
					</label>
				</div>-->										
			</div>
		</div>

        <!-- <section style="position:relative;top:100px;">
            <table>
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </thead>
                {% if data %}
                {% for data in datas %}

                <tbody>
                    <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.password}}</td>
                    </tr>
                </tbody>
                
                {% endfor %}
                {% endif %}
            </table>
        </section> -->
    </div>
    <div class="" style="position: relative;left: 330px;color:#174e1791; top:100px;">
        <a href="">DASHBOARD / </a><a href="">HOME</a>
    </div>
    <div class="tabs" style="position:relative;left:125px;top:155px;">
        <main>
                            
          <input id="tab1" type="radio" name="tabs" checked>
          <label for="tab1" name="seller">Users</label>
            
          <input id="tab2" type="radio" name="tabs">
          <label for="tab2" name="customer">Feedback</label>
            
          <!-- <input id="tab3" type="radio" name="tabs">
          <label for="tab3" name="Order">Petshop</label>
            
          <input id="tab4" type="radio" name="tabs">
          <label for="tab4" name="Feedback">Veterinarian</label> -->
        
          <input id="tab5" type="radio" name="tabs">
          <label for="tab5" name="Donation">Donation</label>
        
            <section id="content1">
                <table id="tabs-table-report" border=2>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Password</th>
                        </tr>
                        {% for i in user %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.name}}</td>
                            <td>{{i.email}}</td>
                            <td>{{i.password}}</td>                           
                            <!-- <td><button id="edit" data-toggle="modal" data-target="#form">EDIT</button></td> -->
                        </tr>
                        {% endfor %} 
                </table>
                <br/><a href="{% url 'export_users_csv' %}" style="text-decoration: none;">Download Report <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a><br/>                                             
            </section>
            <section id="content2">
                <table id="tabs-table-report" border="2">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phno</th>
                        <th>Subject</th>
                        <th>Message</th>

                    </tr> 
                    {% for f in feedback %}
                    <tr>
                        <td>{{f.id}}</td>
                        <td>{{f.name}}</td>
                        <td>{{f.email}}</td>
                        <td>{{f.phno}}</td>
                        <td>{{f.subject}}</td>
                        <td>{{f.msg}}</td>                        
                        <!-- <td><button id="edit">EDIT</button></td> -->
                    </tr>
                    {% endfor %}
                </table>
                <br/><a href="{% url 'export_users_csv_feed' %}" style="text-decoration: none;">Download Report <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a><br/>                                             
            </section>
                
            <!-- <section id="content3">
                <table id="tabs-table-report" border=2>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr> 
                     <tr>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.password}}</td>
                    </tr> 
                </table>
            </section> -->
            
            <!-- <section id="content4">
                <table id="tabs-table-report" border=2>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                    </tr> 
                    {% for i in user %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.password}}</td>   
                    </tr>
                    {% endfor %}
                </table>
            </section>         -->
            
            <section id="content5">
                <table id="tabs-table-report" border=2>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Paymode</th>
                        <th>Amount</th>
                        <th>Trn Date</th>
                    </tr> 
                    {% for d in donation %}
                    <tr>
                        <td>{{d.id}}</td>
                        <td>{{d.name}}</td>
                        <td>{{d.paymode}}</td>
                        <td>{{d.amount}}</td>
                        <td>{{d.trn_date}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <br/><a href="{% url 'export_users_csv_donate' %}" style="text-decoration: none;">Download Report <i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a><br/>                                             
            </section>        
        </main>					
    </div>
    <!--Script-->
    <script>/*src="../Mini Project/JS/app.js"*/
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container");

        sign_up_btn.addEventListener('click',() => {
            container.classList.add("sign-up-mode");
        });

        sign_in_btn.addEventListener('click',() => {
            container.classList.remove("sign-up-mode");
        });
     </script>
    
    <script>
        const togglePassword = document.getElementById('togglePassword');
        const password = document.getElementById('password');
        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
        
        
        //sessionStorage.setItem("", "Shrek");					
        
		//Toggle
		function toggleMenu()
		{
			let toggle = document.querySelector('.toggle');
			let navigation = document.querySelector('.navigation');
			let main = document.querySelector('.main');
			toggle.classList.toggle('active');
			navigation.classList.toggle('active');
			main.classList.toggle('active');
		}
    </script>
   <script>
    document.getElementById("logout").addEventListener("click",show);
    function show()
    {
        var ans=confirm("Do you want to logout?");
        if(ans)
            window.location.replace("{% url 'indexview' %}");
        else
        {}
    }
</script>
    
</body>
{% endblock %}
</html>